<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page detail</title>
</head>
<body>
    <table>
        <th>Page name</th>
        <th>page_cat</th>
        <th>pagepubliosh date</th>
        <th>created by</th>
        {% for dt1 in data1 %}
 
        <tr>
            <td>{{dt1.page_anme}}</td>
            <td>{{dt1.page_cat}}</td>
            <td>{{dt1.page_publish_date}}</td>
            <td>{{dt1.user}}</td>
 
        </tr>
        {% endfor %}
    </table>

    <table>
        <h3>via page cat</h3>
        <th>Page name</th>
        <th>page_cat</th>
        <th>pagepubliosh date</th>
        <th>created by</th>
        {% for dt1 in data2 %}
 
        <tr>
            <td>{{dt1.page_anme}}</td>
            <td>{{dt1.page_cat}}</td>
            <td>{{dt1.page_publish_date}}</td>
            <td>{{dt1.user}}</td>
 
        </tr>
        {% endfor %}
    </table>

    <table>
        <h3> via email</h3>
        <th>Page name</th>
        <th>page_cat</th>
        <th>pagepubliosh date</th>
        <th>created by</th>
        {% for dt1 in data3 %}
 
        <tr>
            <td>{{dt1.page_anme}}</td>
            <td>{{dt1.page_cat}}</td>
            <td>{{dt1.page_publish_date}}</td>
            <td>{{dt1.user}}</td>
 
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>